
.title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
    justify-items: left;
    gap: 20px;
}
.hhTitle {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    justify-items: left;
    gap: 20px;
}

.seo h1 {
    line-height: 35px;
    font-weight: 500;
    font-size: 26px;
    margin: 0;
}

.seo h2 {
    line-height: 30px;
    font-weight: 500;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.seo h3 {
    line-height: 35px;
    font-weight: 500;
    font-size: 26px;
    margin: 0;
}
